<ext-container region="North" cls="navbar" paddingAsString="0 20" height="64">
    <layout>
        <ext-hBoxLayout align="Middle" pack="Start" />
    </layout>
    <items>
        <ext-component flex="1" html=@("<a class=\"app-logo\" href=\"/\">demo10</a>") />
        <ext-button
            variant="Light"
            scale="Medium"
            iconCls="x-md md-icon-open-in-new"
            iconAlign="Right"
            text="Ext.NET Home"
            href="https://ext.net/"
            />
    </items>
</ext-container>