<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - demo10</title>

    <ext-resourceManager />

    <script type="text/javascript" src="~/resources/js/main.js"></script>
    <link rel="stylesheet" href="~/resources/css/main.css" />
</head>
<body>
    <ext-viewport layout="Border">
        <items>
            <ext-partial name="_Header" />

            <ext-partial name="_Sidebar" />

            <ext-section name="Main" />
        </items>
    </ext-viewport>
    @RenderBody()
</body>
</html>