@page  "{handler?}"
@model demo10.Pages.DirectEventsModel
@{
    ViewData["Title"] = "DirectEvent";
}
<ext-section target="Main">
    <ext-container region="Center" scrollable="true" paddingAsString="30 20 30 50">
        <content>
            <h1>DirectEvent</h1>

            <ext-button text="Click me" onDirectClick="ButtonClick" />
        </content>
    </ext-container>
</ext-section>